/* style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tutorial {
    border: 1px solid grey;
    background-color: lightblue;
    width: 1080px;
    height: 720px;
}

img {
    width: 50px;
    height: 50px;
}

#mensagem {
    color: black;
    font-size: 20px;
    text-align: center;
    border: 2px solid grey;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: white;
}
